.snorlax {
  width: 400px;
  height: 400px;
  display: block;
  margin: auto;
  position: relative;
  top: 250px;
  left: 7px;
}

h1 {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  position: relative;
  top: 200px;
  color: white;
}

body {
  background: #2a7b9b;
  background: linear-gradient(
    90deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(204, 237, 83, 1) 100%
  );
}

button { 
  display: block;
  margin: auto;
  position: relative;
  top: -170px; 
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  height: 35px;
  width: 120px;
  border: 3.5px solid #2596be;
  background: white;
  font-size: 20px;
}
a { 
  text-decoration: None;
  outline: None;  
}

input[type="text"] { 
  padding: 5px;
  border: 3.5px solid black;
  position: relative;
}

input[type="email"] { 
  padding: 5px;
  border: 3.5px solid black;
}

input[type="time"] { 
  padding: 5px;
  border: 3.5px solid black;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

input[type="date"] { 
  padding: 5px;
  border: 3.5px solid black;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

input[type="submit"] { 
  padding: 5px;
  border: 3.5px solid black;
  width: 250px;
  /* text-align: left; */
  left: 1000px;  
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  
}


label { 
  display: block;
  /* float: left; */
  /* clear: left; */
  width: 100px; 
  text-align: left;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

form {
  position: relative;
  margin-left: 370px;
  top: 120px;
}

.enter{
  position: relative;
  top:100px
}