<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href= "{{ url_for('static', filename='style.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

    <title>Snorlax School Schedule</title>
  </head>
</html>

<body>
  <h1>Enter Your Name & Email!</h1>
  <form>
    <p>
    <label>Name</label>
    <input type="text" name="student name"/>
    </p>
    <p>
    <label>Email</label>
    <input type="email" name="Email Address"/>
    </p>
    <!-- <button type="submit">Submit</button> -->
    <p>
    <input type="submit">
    </p>
  </form>
</body>

</html>